[MESSAGES CONTROL]
disable=
        no-value-for-parameter,
        invalid-name,
        too-few-public-methods,
        too-many-public-methods,
        line-too-long,
        no-init,
        unused-import,
        redefined-outer-name
