{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <select id="year" class="form-control">
      <option value="">select year</option>
      {% for year in years %}
      {% if year %}<option value="{{ year }}">{{ year }}</option>{% endif %}
      {% endfor %}
    </select>
  </div>
  <table class="table table=condensed">
    <thead>
      <tr>
        <td>Name</td>
        <td>Year</td>
        <td>Plan</td>
        <td>Actual</td>
      </tr>
    </thead>
    <tbody>
      {% for list in plan_actuals %}
      <tr class="">
        <td>{{ list.destination }}</td>
        <td>{{ list.year }}</td>
        <td>{{ list.plan }}</td>
        <td>{{ list.actual }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr/>
  <ul class="pager"></ul>
</div>
{% endblock %}

